crewai
langchain==0.1.16
langchain-core==0.1.53
langchain-community==0.0.38
langchain-openai==0.1.7

openai

fastapi
uvicorn

streamlit

python-dotenv

pandas
numpy

pydantic==2.7.4

nltk
rouge-score
